.contentHeading {
  font-size: 4.5em;
  text-align: start;
  text-transform: capitalize;
}

.contentHeading + .contentDescription {
  margin-top: 2.8em;
}

.contentDescription {
  margin-bottom: 3.3em;
  font-size: 1.125em;
  color: #999;
  text-align: start;
  margin-right: 2.8em;
}
