.container {
  display: flex;
  justify-content: space-between;
  padding: 0 3.75rem;
  background-color: #2a313c;
  align-items: center;
  gap: 8rem;
}

.characterSelection {
  display: flex;
  justify-content: space-between;
  gap: 1.88rem;
}
