.container {
  display: flex;
  padding: 0 3.75em;
  background-color: #2a313c;
  align-items: center;
  gap: 8em;
}

.container > * {
  flex: 1;
}

.image {
  max-width: 100%;
  vertical-align: middle;
}

.characterSelection {
  display: flex;
  gap: 1.88em;
}

.content {
  margin: 4em 0;
}