.container {
  display: flex;
  padding: 0 3.75em;
  background-color: #2a313c;
  align-items: center;
  gap: 8em;
}

.container > * {
  flex: 1;
}

.image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.characterSelection {
  display: flex;
  gap: 1.88em;
}

.content {
  margin: 4em 0;
}

@media screen and (max-width: 1270px) {
  .characterImageContainer {
    display: none;
  }

  .characterSelection {
    overflow-x: auto;
    width: 100%;
    padding: 1.2em;
  }

  .content {
    max-width: 100%;
  }
}