.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  position: absolute;
  border-radius: 44%;
  background-color: #fff;
  right: -1.2em;
  top: 0;
  align-self: flex-start;
  font-size: 0.6875em;
  width: 1.3125em;
  line-height: 1.125em;
  height: 1.125em;
  flex-shrink: 0;
  color: #141820;
  padding: 0.2em;
}

.container > img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 800px) {
  .container > img {
    width: 50%;
    height: auto;
  }

  .counter {
    right: -0.2em;
    top: 0.2em;
  }
}
