.container {
  padding: 8em 3.75em;
  display: grid;
  grid-template-columns: minmax(20em, 2fr) minmax(10em, 1fr) minmax(10em, 1fr);
  gap: 1.5em;
}

.headingButton {
  align-self: flex-end;
  justify-self: flex-end;
  grid-column-start: 3;
}

.bottomMargin {
  margin-bottom: 2.5em;
}
