.button {
  color: #fff;
  padding: 1em 2em;
  transition: color linear 0.1s, background-color linear 0.1s;
}

.button:hover {
  color: #fac422;
}

.primary {
  background-color: #57b8ff;
}

.primary:hover {
  background-color: #468fcd;
}

.outlined {
  border: 1px solid #fff;
}
