.button {
  color: #fff;
  padding: 1rem 2rem;
  transition: color linear 0.1s;
}

.button:hover {
  color: #fac422;
}

.primary {
    background-color: #57B8FF;
}

.outlined {
  border: 1px solid #fff;
}
