.container {
  height: 100vh;
  background: linear-gradient(90deg, black 54%, #57b8ff 54%, #57b8ff 100%);
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1.25rem 3.75rem;
  display: flex;
  justify-content: space-between;
}

.cartContainer {
  display: flex;
  gap: 2.5rem;
}

.contentContainer {
  display: flex;
  margin: auto 0;
  padding-right: 3.75rem;
}

.conent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
}

.contentButtons {
  display: flex;
  gap: 2.5rem;
}

/* Styles for the container */
.curvedUnderline {
  display: inline-block;
  position: relative;
  text-decoration: none; /* Remove default underline */
}

/* Styles for the pseudo-element */
.curvedUnderline::after {
  content: '';
  position: absolute;
  bottom: -16px; /* Adjust this value to control the distance of the underline from the text */
  left: 0;
  width: 100%;
  height: 1rem;
  border: solid 5px #fdd048;
  border-color: #fdd048 transparent transparent transparent;
  border-radius: 50%/1rem 1rem 0 0;
}

.imageContainer {
  flex: 1;
}

.imageContainer > img {
  width: 100%;
}

.socialMediaContainer {
  writing-mode: vertical-lr;
  white-space: nowrap;
  transform: rotate(180deg);
  display: flex;
  gap: 3rem;
  width: 2.8rem;
  align-items: center;
  justify-content: center;
  font-size: 0.675rem;
}

.socialMediaContainer > a {
  padding: 0.4rem;
}
