.container {
  height: 100vh;
  background: linear-gradient(90deg, black 54%, #57b8ff 54%, #57b8ff 100%);
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1.25em 3.75em;
  display: flex;
  justify-content: space-between;
}

.cartContainer {
  display: flex;
  gap: 2.5em;
}

.contentContainer {
  display: flex;
  margin: auto 0;
  padding-right: 3.75em;
}

.conent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
}

.contentButtons {
  display: flex;
  gap: 2.5em;
}

.curvedUnderline {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.curvedUnderline::after {
  content: '';
  position: absolute;
  bottom: -1.06em;
  left: 0;
  width: 100%;
  height: 1em;
  border: solid 5px #fdd048;
  border-color: #fdd048 transparent transparent transparent;
  border-radius: 300%/1em 2em 0 0;
}

.imageContainer {
  flex: 1;
}

.imageContainer > img {
  width: 100%;
}

.socialMediaContainer {
  writing-mode: vertical-lr;
  white-space: nowrap;
  transform: rotate(180deg);
  display: flex;
  gap: 3em;
  width: 3.75em;
  align-items: center;
  justify-content: center;
}

.socialMediaContainer > a {
  padding: 0.4em;
  font-size: 0.675em;
}
