.container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.mainItem {
  grid-row: auto / span 2;
}

.container > h2,
.container > h3 {
  color: #fff;
}

.container > h2 {
  font-size: 2.25em;
}

.container > h3 {
  font-size: 1.5em;
}

.mainDate,
.secondaryDate {
  color: #57b8ff;
}

.mainDate {
  margin: 3.36em 0 1.75em;
  font-size: 1.125em;
}

.secondaryDate {
  margin: 1.86em 0 1.25em;
  font-size: 1em;
}

@media screen and (max-width: 800px) {
  .mainItem {
    grid-column: auto / span 2;
  }
}
